@font-face {
  font-family: "CursedTimer";
  src: url("assets/fonts/CursedTimer.ttf") format("truetype");
}

:root {
  --background-primary-color: #1B244A;

  --ff-primary: 'CursedTimer', sans-serif;
  --ff-secondary: 'Verdana', sans-serif;

  --fc-panel-title: #EEEEEE;
  --fc-display-score: #F94F6D;

  --btn-background: #9AABD8;
  --btn-font: #9AABD8;

  --bg-display: #080001;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 575px;
  height: 385px;

  margin: 0 auto;

  background-color: var(--background-primary-color);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel-home {
  border: 1px dotted white;
}

#title-home {
  font-family: var(--ff-secondary);
  font-size: calc((40/16) * 1rem);
  line-height: calc((36/16) * 1rem);
  color: var(--fc-panel-title);
  text-align: center;

  margin-bottom: 20px;
}

.display-wrapper {
  width: 155px;
  height: 120px;
  border-radius: 5px 0px 0px 0px;

  background-color: var(--bg-display);

  text-align: center;

  margin-bottom: 16px;
}

.display-field {
  font-family: var(--ff-primary);
  font-size: calc((90/16) * 1rem);
  line-height: calc((126.67/16) * 1rem);
  font-weight: 400;
  text-align: center;
  color: var(--fc-display-score);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-score {
  font-family: var(--ff-primary);
  font-size: calc((18/16) * 1rem);
  font-weight: 400;
  line-height: 28px;
  text-align: center;

  border: 2px solid var(--btn-background);
  background-color: transparent;

  height: 45px;
  width: 45px;

  border-radius: 5px;

  color: var(--btn-font);
}

.panel-guest {
  border: 1px dotted white;
}

#title-guest {
  font-family: var(--ff-secondary);
  font-size: calc((40/16) * 1rem);
  line-height: calc((36/16) * 1rem);
  color: var(--fc-panel-title);

  text-align: center;

  margin-bottom: 20px;
}